@model GAM.Models.Questionarios.Questionario
@{
    ViewData["Title"] = "Create";
}
<form asp-action="Create">
    <div class="row">
        <div class="col-md-12">
            <h2>Create</h2>
            <h4>Questionario</h4>
        </div>
        
    </div>
    <hr />
    
    <input type="hidden" asp-for="Area" />
    <div class="row">

        <div class="col-md-12">
            <input id="perguntasJson" name="perguntasJson" type="hidden" />
            <table class="table">
                <thead>
                <tr>

                    <th class="col-md-7">
                        @Html.Label("Pergunta", "Pergunta")
                    </th>
                    <th class="col-md-4">@Html.Label("TipoResposta", "Tipo de resposta")</th>
                    <th class="col-md-1" style=" text-align: end;"><button type="button" class="btn btn-default" onclick="AddNewQuestion(this)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></th>
                </tr>
                </thead>
                <tbody>
                <tr class="QuestionTemplate hidden" questionNumber="0">

                    <th class="col-md-7" scope="row">
                        <input id="Pergunta" class="form-control" />
                    </th>
                    <td class="col-md-4">
                        <select id="tresposta" class="form-control" asp-items="Html.GetEnumSelectList<GAM.Models.Enums.TipoRespostaEnum>()">
                        </select>
                    </td>
                    <td class="col-md-1" style=" text-align: end;">
                        <button type="button" class="btn btn-default" onclick="DelQuestion(this)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>




    </div>
    <div class="form-group">
        <button  type="button" class="btn btn-default" onclick="SubmitForm()">Create</button>
        <input type="submit" value="Create" class="btn btn-default hidden"/>
    </div>

</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    function SubmitForm() {
        //validate
        var isValid = false;

        var array = [];
        $('table tbody tr').not('tr.QuestionTemplate').each(function(index, elem) {
            var question = {
                Descricao: $(elem).find("#Pergunta").val(),
                TipoResposta: $(elem).find("#tresposta").val()
            };
            array.push(question);
        });

        if (array.length > 0)
            isValid = true;
        if (isValid) {
            $('#perguntasJson').val(JSON.stringify(array));
            $('form').submit();
        } else {
            alert('Dados Invalidos');
        }


    }

    function AddNewQuestion(elem) {
        var qNumber = 0;
        var table = $(elem).parents('table');
        var templateEntry = $(table).find('.QuestionTemplate').html();
        var newRow = "<tr questionNumber='" + qNumber + "'>" + templateEntry + "</tr>";
        $(table).find('tbody').append(newRow);
    }

    function DelQuestion(elem) {
        var tr = $(elem).parents('tr')[0];
        $(tr).remove();
    }

</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
