@model GAM.Models.DadorViewModels.Consulta

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Consulta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ConsultaId" />
            <div class="form-group">
                <label asp-for="DadorId" class="control-label"></label>
                <select asp-for="DadorId" class="form-control" asp-items="ViewBag.DadorId"></select>
                <span asp-validation-for="DadorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataConsulta" class="control-label"></label>
                <input asp-for="DataConsulta" class="form-control" />
                <span asp-validation-for="DataConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button></a>
    <p></p><p></p>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
