
@{
    ViewData["Title"] = "AlreadyAnswered";
}

<header>
    <h2 class="text-danger">Aviso</h2>
    <p>Você necessita de submeter um pedido de dador antes de realizar um questionário.</p>
</header>
