@model GAM.Models.Laboratorio.Espermograma
@using GAM.Models.Enums;

@{
    ViewData["Title"] = "Criar";
}

<h2>Criar</h2>

<h4>Espermograma</h4>

<style>
    .row {
        margin-top: 20px;
    }

    .section {
        clear: both;
        padding: 0px;
        margin: 0px;
    }

    /*  COLUMN SETUP  */
    .col {
        display: block;
        float: left;
        margin: 1% 0 1% 1%;
    }

        .col:first-child {
            margin-left: 0;
        }

    /*  GROUPING  */
    .group:before,
    .group:after {
        content: "";
        display: table;
    }

    .group:after {
        clear: both;
    }

    .group {
        zoom: 1; /* For IE 6/7 */
    }
    /*  GRID OF FOUR  */
    .span_4_of_4 {
        width: 100%;
    }

    .span_3_of_4 {
        width: 74.75%;
    }

    .span_2_of_4 {
        width: 49.5%;
    }

    .span_1_of_4 {
        width: 24.25%;
    }

    /*  GRID OF TWO  */
    .span_2_of_2 {
        width: 100%;
    }

    .span_1_of_2 {
        width: 49.5%;
    }
</style>

<hr />


<div class="panel panel-default">
    <div class="panel-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <dl class="dl-horizontal section">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#" style="background:#f2f2f2"><b>Dados Gerais</b></a></li>
                </ul>
                <p></p>
                <div class="row">
                    <div class="col-md-2">
                        <label asp-for="AmostraId" class="control-label"></label>
                    </div>
                    <div class="col-md-2">
                        <select asp-for="AmostraId" class="form-control" asp-items="ViewBag.AmostraId"></select> 
                        <span asp-validation-for="AmostraId" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <label asp-for="DataEspermograma" class="control-label"></label>
                    </div>
                    <div class="col-md-2">
                        <input asp-for="DataEspermograma" class="form-control" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label asp-for="Volume" class="control-label"></label>
                    </div>
                    <div class="col-md-2">
                        <input asp-for="Volume" class="form-control" required />
                    </div>
                    <div class="col-md-2">
                        <label asp-for="Cor" class="control-label"></label>
                    </div>
                    <div class="col-md-2">
                        <input asp-for="Cor" class="form-control" required/>
                    </div>
                    <div class="col-md-2">
                        <label asp-for="Viscosidade" class="control-label"></label>
                    </div>
                    <div class="col-md-2">
                        <input asp-for="Viscosidade" class="form-control" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label asp-for="Liquefacao" class="control-label"></label>
                    </div>
                    <div class="col-md-2">
                        <input asp-for="Liquefacao" class="form-control" required />
                    </div>
                    <div class="col-md-2">
                        <label asp-for="Ph" class="control-label"></label>
                    </div>
                    <div class="col-md-2">
                        <input asp-for="Ph" class="form-control" required/>
                    </div>
                    <div class="col-md-2">
                        <label asp-for="Observacoes" class="control-label"></label>
                    </div>
                    <div class="col-md-2">
                        <input asp-for="Observacoes" class="form-control" required/>
                    </div>
                </div>
                <p></p>
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#" style="background:#f2f2f2"><b>Dados Espermatozoides</b></a></li>
                </ul>
                <p></p>
                <div class="row">
                    <div class="col-md-2">
                        <label asp-for="ConcentracaoEspermatozoides" class="control-label"></label>
                    </div>
                    <div class="col-md-2">
                        <input asp-for="ConcentracaoEspermatozoides" class="form-control" required />
                    </div>
                    <div class="col-md-2">
                        <label asp-for="GrauA" class="control-label"></label>
                    </div>
                    <div class="col-md-2">
                        <input asp-for="GrauA" class="form-control" required/>
                    </div>
                    <div class="col-md-2">
                        <label asp-for="GrauB" class="control-label"></label>
                    </div>
                    <div class="col-md-2">
                        <input asp-for="GrauB" class="form-control" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label asp-for="GrauC" class="control-label"></label>
                    </div>
                    <div class="col-md-2">
                        <input asp-for="GrauC" class="form-control" required/>
                    </div>
                    <div class="col-md-2">
                        <label asp-for="GrauD" class="control-label"></label>
                    </div>
                    <div class="col-md-2">
                        <input asp-for="GrauD" class="form-control" required/>
                    </div>
                    <div class="col-md-2">
                        <label asp-for="Leucocitos" class="control-label"></label>
                    </div>
                    <div class="col-md-2">
                        <input asp-for="Leucocitos" class="form-control" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label asp-for="Vitalidade" class="control-label"></label>
                    </div>
                    <div class="col-md-2">
                        <input asp-for="Vitalidade" class="form-control" required />
                    </div>
                    <div class="col-md-2">
                        <label asp-for="ObservacoesConcentracao" class="control-label"></label>
                    </div>
                    <div class="col-md-2">
                        <input asp-for="ObservacoesConcentracao" class="form-control" required />
                    </div>
                </div>
            </dl>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button></a>
    <p></p><p></p>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
