@model GAM.Models.Laboratorio.Espermograma

@{
    ViewData["Title"] = "Editar espermograma";
}

<h4>Aprovação do Espermograma</h4>
<hr />
<p></p><p></p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EspermogramaId" />
            <input type="hidden" asp-for="AmostraId" />
            <input type="hidden" asp-for="DataEspermograma" />
            <input type="hidden" asp-for="Volume" />
            <input type="hidden" asp-for="Cor" />
            <input type="hidden" asp-for="Viscosidade" />
            <input type="hidden" asp-for="Liquefacao" />
            <input type="hidden" asp-for="Ph" />
            <input type="hidden" asp-for="Observacoes" />
            <input type="hidden" asp-for="ConcentracaoEspermatozoides" />
            <input type="hidden" asp-for="GrauA" />
            <input type="hidden" asp-for="GrauB" />
            <input type="hidden" asp-for="GrauC" />
            <input type="hidden" asp-for="GrauD" />
            <input type="hidden" asp-for="MotilidadeProgressiva" />
            <input type="hidden" asp-for="MotilidadeTotal" />
            <input type="hidden" asp-for="Leucocitos" />
            <input type="hidden" asp-for="Vitalidade" />
            <input type="hidden" asp-for="ObservacoesConcentracao" />
            <div class="form-group">
                <label asp-for="ValidacaoDiretorLaboratorio" class="control-label"></label>
                <select asp-for="ValidacaoDiretorLaboratorio" class="form-control" asp-items="ViewBag.ValidacaoDiretorLaboratorio">
                    <option value=""></option>
                </select>
                <span asp-validation-for="ValidacaoDiretorLaboratorio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidacaoEmbriologista" class="control-label"></label>
                <select asp-for="ValidacaoEmbriologista" class="form-control" asp-items="ViewBag.ValidacaoEmbriologista">
                    <option value=""></option>
                </select>
                <span asp-validation-for="ValidacaoEmbriologista" class="text-danger"></span>
            </div>         
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<p></p><p></p>
<div>
    <a asp-action="Index"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
