@using GAM.Models.Enums;
@model GAM.Models.InformaticoViewModels.GestaoPerfisEditarViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>GestaoPerfisViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UtilizadorId" />
            <div class="form-group">
                <label asp-for="NomeUtilizador" class="control-label"></label>
                <input asp-for="NomeUtilizador" class="form-control" />
                <span asp-validation-for="NomeUtilizador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AntigaPassword" class="control-label"></label>
                <input asp-for="AntigaPassword" class="form-control" />
                <span asp-validation-for="AntigaPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NovaPassword" class="control-label"></label>
                <input asp-for="NovaPassword" class="form-control" />
                <span asp-validation-for="NovaPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmarPassword" class="control-label"></label>
                <input asp-for="ConfirmarPassword" class="form-control" />
                <span asp-validation-for="ConfirmarPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Perfil" class="control-label"></label>
                <select asp-for="Perfil" class="form-control" asp-items="Html.GetEnumSelectList<PerfilEnum>()">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Perfil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
