
@{
    ViewData["Title"] = "ShowInfo";
}

<h2>@ViewBag.Info</h2>

<a asp-action="Index" asp-controller="Home">
    <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    </button>
</a>

