@using GAM.Models.Enums;
@model GAM.Models.Laboratorio.Amostra

@{
    ViewData["Title"] = "Criar";
}

<h2>Criar</h2>

<h4>Amostra</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DadorId" class="control-label"></label>
                <select asp-for="DadorId" class ="form-control" asp-items="ViewBag.DadorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EstadoAmostra" class="control-label"></label>
                <select asp-for="EstadoAmostra" class="form-control" asp-items="Html.GetEnumSelectList<EstadoAmostraEnum>()">
                    <option value=""></option>
                </select>
                <span asp-validation-for="EstadoAmostra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoAmostra" class="control-label"></label>
                <select asp-for="TipoAmostra" class="form-control" asp-items="Html.GetEnumSelectList<TipoAmostraEnum>()">
                    <option value=""></option>
                </select>
                <span asp-validation-for="TipoAmostra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataRecolha" class="control-label"></label>
                <input asp-for="DataRecolha" class="form-control" />
                <span asp-validation-for="DataRecolha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button></a>
    <p></p><p></p>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
