@{
    ViewData["Title"] = "Contactar";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    ISEP - Grupo 1<br />
    LABDSOFT 2017 <br />
</address>

<address>
    <strong>Suporte:</strong> 
    <a href="1121107@isep.ipp.pt">1121107@isep.ipp.pt</a><br />   
    <a href="1120569@isep.ipp.pt">1120569@isep.ipp.pt</a><br />   
    <a href="1130739@isep.ipp.pt">1130739@isep.ipp.pt</a><br />   
    <a href="1120557@isep.ipp.pt">1120557@isep.ipp.pt</a><br />   
    <a href="1101516@isep.ipp.pt">1101516@isep.ipp.pt</a><br />   
</address>
