@model IEnumerable<GAM.Models.DadorViewModels.Dador>
@{
    ViewData["Title"] = "ActivityReport";
}
<h2>Activity Report</h2>


<hr />

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#PeleTab" data-toggle="tab">Cor da pele</a></li>
    <li role="presentation" class=""><a href="#OlhosTab" data-toggle="tab">Cor dos olhos</a></li>
    <li role="presentation" class=""><a href="#CorCabeloTab" data-toggle="tab">Cor do Cabelo</a></li>
    <li role="presentation" class=""><a href="#TexturaCabeloTab" data-toggle="tab">Textura do cabelo</a></li>
    <li role="presentation" class=""><a href="#GrupoSangTab" data-toggle="tab">Grupo sanguíneo</a></li>
    <li role="presentation" class=""><a href="#OrigemTab" data-toggle="tab">Etenia</a></li>

</ul>
<div class="tab-content">
    <div id="PeleTab" class="tab-pane fade in active">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        Ciclo da dádiva
                    </div>
                    <div class="col-md-2">
                       
                    </div>
                    <div class="col-md-2">
                       
                    </div>
                    <div class="col-md-2">
                        
                    </div>
                    <div class="col-md-2">
                        
                    </div>
                    <div class="col-md-2">
                      
                    </div>
                    <div class="col-md-2">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                </div>

            </div>
        </div>
     </div>
     <div id="OlhosTab" class="tab-pane fade in ">
         <div class="panel panel-default">
             <div class="panel-body">
                 <div class="row" style="background: #00b3b3; color:white;">
                     <div class="col-md-2">
                         <b>Ciclo da dádiva</b>
                     </div>
                     <div class="col-md-2">
                         <b> Azuis</b>
                     </div>
                     <div class="col-md-2">
                         <b> Castanhos</b>
                     </div>
                     <div class="col-md-2">
                         <b> Verdes</b>
                     </div>
                     <div class="col-md-2">
                         <b> Outros < 5%</b>
                     </div>
                     <div class="col-md-2">
                         <b> TOTAL</b>
                     </div>
                 </div>
                 <p></p>
                 <div class="row" style="background: #bfbfbf; color:white;">
                     <div class="col-md-2">
                         <b>Número total de dadores inscritos</b>
                     </div>
                     <div class="col-md-2">
                       
                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <p></p>
                 <div class="row" style="background: #bfbfbf; color:white;">
                     <div class="col-md-2">
                         <b>Dadores efetivos</b>
                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <p></p>
                 <div class="row" style="background: #bfbfbf; color:white;">
                     <div class="col-md-2">
                        <b> %</b>
                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <p></p>
                 <div class="row" style="background: #bfbfbf; color:white;">
                     <div class="col-md-2">
                        <b> Dadores rejeitados</b>
                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <p></p>
                 <div class="row" style="background: #bfbfbf; color:white;">
                     <div class="col-md-2">
                        <b> %</b>
                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <p></p>
                 <div class="row" style="background: #bfbfbf; color:white;">
                     <div class="col-md-2">
                        <b> Dadores em quarentena</b>
                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <p></p>
                 <div class="row" style="background: #bfbfbf; color:white;">
                     <div class="col-md-2">
                        <b> %</b>
                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <p></p>
                 <div class="row" style="background:#bfbfbf; color:white;">
                     <div class="col-md-2">
                        <b> Dadores com o estudo em curso</b>
                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <p></p>
                 <div class="row" style="background: #bfbfbf; color:white;">
                     <div class="col-md-2">
                        <b> %</b>
                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
             </div>
         </div>
     </div>
     <div id="CorCabeloTab" class="tab-pane fade in ">
         <div class="panel panel-default">
             <div class="panel-body">
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
             </div>
         </div>
     </div>
     <div id="TexturaCabeloTab" class="tab-pane fade in ">
         <div class="panel panel-default">
             <div class="panel-body">
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
             </div>
         </div>
     </div>
     <div id="GrupoSangTab" class="tab-pane fade in ">
         <div class="panel panel-default">
             <div class="panel-body">
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
             </div>
         </div>
     </div>
     <div id="OrigemTab" class="tab-pane fade in ">
         <div class="panel panel-default">
             <div class="panel-body">
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                     <div class="col-md-2">

                     </div>
                 </div>
             </div>
         </div>
      </div>
 </div>
