@model GAM.Models.RegistoMaterial.Material
@using GAM.Models.Enums;


@{
    ViewData["Title"] = "Registo material";
}

<h2>Registo</h2>

<h4>Material Utilizado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EspermogramaId" class="control-label"></label>
                <select asp-for="EspermogramaId" class ="form-control" asp-items="ViewBag.EspermogramaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lote" class="control-label"></label>
                <input asp-for="Lote" class="form-control" />
                <span asp-validation-for="Lote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantidadeUtilizada" class="control-label"></label>
                <input asp-for="QuantidadeUtilizada" class="form-control" />
                <span asp-validation-for="QuantidadeUtilizada" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <select asp-for="Categoria" class="form-control" asp-items="ViewBag.CategoriaEnum"></select>
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>*@
            
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <select asp-for="Categoria" class="form-control" asp-items="Html.GetEnumSelectList<CategoriaEnum>()">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
